**/.idea
venv/
**/cmake-build-debug
**/.PVS-Studio
*/**/*.arrow
*/**/*.pcap
*/**/*.pcapng
*/**/*.so
!data/test/pretraining/raw/imap.pcap
!data/test/finetuning/raw/benign/imap1.pcap
!data/test/finetuning/raw/malicious/imap2.pcap
*/**/__pycache__
*/**/*.c
build/
src/pre_process/1_filter
src/pre_process/3_field_extraction
models/
example.log
**/.env
.vscode
.pytest_cache